---
BasedOnStyle: Chromium
IndentWidth: 4
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 80
IncludeBlocks: Regroup
AccessModifierOffset: -4
AlignAfterOpenBracket: true
AlignEscapedNewlines: true
AlignConsecutiveAssignments: true
